
  <div class="row">
  <% @photos[0..3].each do |photo| %>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="<%= photo["image_url"] %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="<%= photo["image_url"] %>" class="card-link">photo link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
  <% end %>
  </div>
