// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foobar {
  float:right;
  margin-right:-3em;
}

.category-padding {
  margin-left: 2em;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
}
