// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


///// Nav bar /////

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.sign_up {
  width:50%
}

.category-filter {

}
.right{
}

.photo_filter {
  width:100%
}

.justify-content-end {
  padding-right:2em;
}



.filter {
  padding-right:.3em;
  margin: 0 0 0 30%;
  display: block;
  float: right;
}
