// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_up {
  width:50%
}

.category-filter {
  float:right;
  padding-right: 1em;
}
.right{
  float:right
}

.photo_filter {
  width:100%
}
